#fade_in {
    animation-name: slide-in-left;
    animation-duration: 0.1s;
    animation-timing-function: ease-in;
}

#fade_out {
    animation-name: slide-out-left;
    animation-duration: 0.1s;
    animation-timing-function: ease-in;
}

.no_special > #title > #username_offset > :not(.username) {
    filter: grayscale(100%);
}

.no_special > #background > * {
    filter: grayscale(100%) brightness(2.75);
}

@keyframes slide-in-left {
    from {
        transform: scale(0);
        transform-origin: 0% 100%;
    }

    to {
        transform: scale(1);
        transform-origin: 0% 100%;
    }
}

@keyframes slide-out-left {
    from {
        transform: scale(1);
        transform-origin: 100% 0%;
    }

    to {
        transform: scale(0);
        transform-origin: 100% 0%;
    }
}

/* flip chat direction, kinda buggy */
#chat {
    height: 100%;
    top : 0%;
    flex-direction: column;
}

 * {
    /* remove smooth scaling */
    image-rendering : pixelated
}

span.username {
    /* change your username text size here */
    font-size: 300%;
}

.chat-badge {
    /*change this number  V   */
    width: calc( (18px * (3 - 1)) + 2px ); /* this one is weird im sorry! */
    height: calc((18px * (3 - 1)) + 2px ); /* whatever you put in the one times it here as a number so 250% becomes 2.5 etc */
}

#chat blockquote > span {
    /* change your message text size here */
    font-size: 200%;
}

#chat blockquote > img {
    bottom     : calc(-3px * 2);
    width      : calc(18px * 2); /* whatever you put in the one times it here as a number so 150% becomes 1.5 etc */
    height     : calc(18px * 2);
}