html,body {
    margin: 0;
    font-family: monospace;
}

body {
    background-color: #000000;
}

#chat {
    width: calc(100% - 20px - 1rem);
    height: 150%;
    position: absolute;
    top : -50%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.chat-badge {
    width: 20px;
    height: 20px;
    padding-left: 4px;
}

.badges_offset
{
    position:absolute;
    width:calc(20px*6);
}

.username_offset
{
    position:absolute;
}

::-webkit-scrollbar {
    display: none;
}

#chat li {
    box-sizing: border-box;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: fit-content;
    min-width: 300px;
    max-width: 800px;
}

#chat li #background {
    position: absolute;
    z-index:-1;
    display: flex;
}

#chat li #title {
    position: absolute;
    z-index : 1;
    display : flex;
}

#background #bg_center
{
    position:absolute;
    background-repeat:repeat;
}

#background #bg_left
{
    position:absolute;
    left                : 0px;
    background-repeat:repeat-y;
}

#background #bg_right
{
    position            : absolute;
    right               : 0px;
	background-repeat   : repeat-y;
}

#background #bg_top
{
    position:absolute;
    top: 0px;
	background-repeat:repeat-x;
}

#background #bg_bottom
{
    position:absolute;
    bottom: 0px;
	background-repeat:repeat-x;
}

#background #bg_corner
{
    position:absolute;
}

span.username {
    font-weight: 700;
    font-size: 1.8rem;
}

#fadded {
    opacity: 0.25;
}

#chat ul {
    list-style-type: none;
    list-style-position: inside;
}

#chat blockquote {
    font-size: 1.2rem;
}

#fade_in {
    animation-name: slide-in-left;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
}

#fade_out {
    animation-name: slide-out-left;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
}

@keyframes slide-in-left {
    from {
        transform: translateX(200px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-200px);
        opacity: 0;
    }
}

/* background corners styling */

#bg_corner_tl
{
    position:absolute;
    top    : 0px;
    left   : 0px;
}

#bg_corner_bl
{
    position:absolute;
    bottom : 0px;
    left   : 0px;
}

#bg_corner_tr
{
    position:absolute;
    top    : 0px;
    right  : 0px;
}

#bg_corner_br
{
    position:absolute;
    bottom : 0px;
    right  : 0px;
}


/* hides image references on the page */
#IMAGE_REFERENCE
{
    visibility  : hidden;
    top         : 0px;
    left        : 0px;
    position    : fixed;
}

/* EMOTES */
#chat blockquote > img {
    position   : relative;
    bottom     : -3px;
    width      : 18px;
    height     : auto;
}